.how-it-works {

  .glyphicon-user {
    color: blue;
  }

  .glyphicon-bookmark {
    color: purple;
  }

  .glyphicon-dashboard {
    color: orange;
  }

  .glyphicon-heart {
    color: red;
  }

}

