.how-it-works {

  .glyphicon-user {
    color: SteelBlue;
  }

  .glyphicon-bookmark {
    color: LimeGreen;
  }

  .glyphicon-dashboard {
    color: Gold;
  }

  .glyphicon-heart {
    color: Red;
  }

}

