$tab-border-size: 5px;

$tab-text-color: #ccc;
$tab-border-color: whitesmoke;

$tab-active-text-color: #428bca;
$tab-active-border-color: #555;

$tab-hover-text-color: #333;
$tab-hover-border-color: orange;
