@import "compass/css3/transition";

.site-name {

  cursor: pointer; cursor: hand;

  .name-left {
    color: gray;
  }

  .name-right {
    color: gray;
  }

}


.header {

  .nav.nav-pills {

    li {

      a {
        font-weight: bold;
        border-radius: 0px;
        border-bottom: 5px solid $tab-border-color;
        color: $tab-active-text-color;
      }

      a:hover, a:focus {
        background-color: inherit;
        border-bottom: $tab-border-size solid $tab-hover-border-color;
        color: $tab-hover-text-color;
        @include transition(all 0.3s ease-in-out);
      }

    }

  }

}