$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
  font-family: 'Raleway', sans-serif;
}

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.site-name {

  cursor: pointer; cursor: hand;

  .name-left {
    color: gray;
  }

  .name-right {
    color: gray;
  }

}

@import "./about.scss";
@import "./leaderboard.scss";