$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.site-name {

  .name-left {
    color: gray;
  }

  .name-right {
    color: gray;
  }

}

.newlb-topics {
  .label {
    margin-left: 1em;
  }
}

.how-it-works {

  .glyphicon-user {
    color: blue;
  }

  .glyphicon-bookmark {
    color: purple;
  }

  .glyphicon-dashboard {
    color: orange;
  }

  .glyphicon-heart {
    color: red;
  }

}