.panel {
  border-radius: 0px;
}

.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-footer {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}