@import "compass/css3/transition";
@import "./globals.scss";

.nav-tabs {
  border: 0;
  padding-bottom: 10px;


  li {
    a {
      border: 0;
      border-bottom: $tab-border-size solid $tab-border-color;
      @include transition(all 0.3s ease-in-out);
    }

    a:hover, a:focus {
      background-color: inherit;
      border-bottom: $tab-border-size solid $tab-hover-border-color;
      color: $tab-hover-text-color;
      @include transition(all 0.3s ease-in-out);
    }
  }

  li.active {
    a, a:hover, a:focus {
      border: 0;
      border-bottom: $tab-border-size solid $tab-active-text-color;
      color: $tab-active-text-color;
      @include transition(all 0.3s ease-in-out);
    }
  }
}