<h1>How it Works</h1>

<div class="row how-it-works" ng-repeat="step in steps">
  <div class="col-xs-2">
    <h1 class="text-center"><i class="glyphicon glyphicon-{{ step.icon }}"></i></h1>
  </div>
  <div class="col-xs-8">
    <h2 class="lead">{{ step.text }}</h2>
  </div>
</div>

<hr>

<p>The goal of this project is to create something cool and useful using only the free-tier of some popular online backend services.  A special thank you to the following service providers for having the generosity to make things like this possible:</p>

<ul>
  <li ng-repeat="svc in services">
    <a href="{{ svc.href }}">{{ svc.name }}</a>
  </li>
</ul>

<hr>

<h4 class="text-muted text-center">
  made in a hurry by
  <a href="http://www.twitter.com/{{ contactInfo.twitterhandle }}">@{{ contactInfo.twitterhandle }}</a>
  source code shared on
  <a href="{{ contactInfo.githubrepo }}">github</a>
</h4>