<h4 ng-show="loading">Loading...</h4>

<div ng-hide="loading">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{{ lbdetails.lb.name }}</h4>

      <p ng-show="publish_url">
        <i class="glyphicon glyphicon-cloud"></i>
        share url: <a ng-href="{{ publish_url }}">{{ publish_url }}</a>
      </p>

      <p class="text-muted">{{ lbdetails.lb.topics }}</p>
    </div>
    <div class="panel-body">

      <ul class="nav nav-tabs" role="tablist">
        <li ng-class="{active: 'lasthour' == activetab }">
          <a href ng-click="activetab = 'lasthour'">Last Hour</a>
        </li>
        <li ng-class="{active: 'lastday' == activetab }">
          <a href ng-click="activetab = 'lastday'">Last Day</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane" ng-class="{active: 'lasthour' == activetab }">

          <h5 class="text-center" ng-hide="lbdetails.rankings.3600000.length">
            ugg, don't you just hate waiting for things to be ranked?
          </h5>

          <div class="list-group">
            <li class="list-group-item" ng-repeat="item in lbdetails.rankings.3600000">
              <span class="badge">{{ item.sharecount }}</span>
              <a target="_new" href="{{ item._id }}">{{ item._id }}</a>
            </li>
          </div>
        </div>
        <div class="tab-pane" ng-class="{active: 'lastday' == activetab }">

          <h5 class="text-center" ng-hide="lbdetails.rankings.3600000.length">
            ugg, don't you just hate waiting for things to be ranked?
          </h5>

          <div class="list-group">
            <li class="list-group-item" ng-repeat="item in lbdetails.rankings.86400000">
              <span class="badge">{{ item.sharecount }}</span>
              <a target="_new" href="{{ item._id }}">{{ item._id }}</a>
            </li>
          </div>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <button ng-hide="publish_url" class="btn btn-success" ng-click="confirmShareLb()">
        <span class="glyphicon glyphicon-send"></span> Share
      </button>

      <button class="btn btn-danger" ng-click="confirmDeleteLb()">
        <span class="glyphicon glyphicon-trash"></span> Delete
      </button>
    </div>
  </div>
</div>

<div id="confirm-share-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Share Linkboard</h4>
      </div>
      <div class="modal-body">
        <p>This thing is pretty cool, let's send it to somebody</p>

        <p>share url: <strong>{{ publish_url }}</strong></p>
      </div>
      <div class="modal-footer">
        <div ng-hide="sharingLb">
          <button type="button" class="btn btn-default" data-dismiss="modal">Uhh, Maybe later</button>
          <button type="button" class="btn btn-success" ng-click="shareLb()">
            <span class="glyphicon glyphicon-send"></span> Why are you always preparing? Publish!
          </button>
        </div>
        <div ng-show="sharingLb">
          <p class="text-muted">for great justice...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="confirm-delete-modal" class="modal fade" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Delete Linkboard</h4>
      </div>
      <div class="modal-body">
        <p>If you throw this away, you'll need to make one again.  Which is totally easy anyway.</p>
      </div>
      <div class="modal-footer">
        <div ng-hide="deletingLb">
          <button type="button" class="btn btn-default" data-dismiss="modal">Whoops, Nevermind</button>
          <button type="button" class="btn btn-danger" ng-click="deleteLb()">
            <span class="glyphicon glyphicon-trash"></span> Trash it Already
          </button>
        </div>
        <div ng-show="deletingLb">
          <p class="text-muted">give it to me i throw it away...</p>
        </div>
      </div>
    </div>
  </div>
</div>
