<div ng-show="login_error" class="alert alert-danger" role="alert">
  <h1>(⊙＿⊙')</h1>
  <p>{{ login_error }}</p>
</div>

<div class="jumbotron" ng-show="notloggedin">
  <h1>Try it!</h1>

  <p class="lead">
    Make a <mark>Free</mark> Twitter Leaderboard in seconds and start discovering popular shared links
  </p>

  <a href="/#/about" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-question-sign"></span> How it Works
  </a>
  <a href="{{ twitterLoginUrl }}" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-user"></span> Sign-in with Twitter
  </a>
</div>

<div ng-show="user">

  <div class="panel panel-default">
    <div class="panel-heading">
      {{ user.oauth.profile.displayName }} (<a target="_new" ng-href="http://twitter.com/{{ user.oauth.profile.username }}">@{{ user.oauth.profile.username }}</a>)

      <a class="pull-right" href="{{ twitterLogoutUrl }}">Logout</a>
    </div>
    <div class="panel-body">

      <p ng-hide="user.leaderboards.length" class="text-center">rather sparse here... looks like you don't have any linkboards yet</p>

      <div class="row">
        <div class="col-sm-6" ng-repeat="lb in user.leaderboards">
          <h4><a ng-href="#/linkboard/{{ lb._id }}">{{ lb.name }}</a></h4>
          <p><span class="badge" ng-repeat="t in lb.topics">{{ t }}</span></p>
        </div>
      </div>

    </div>
    <div class="panel-footer">
      <div ng-show="user.leaderboards.length < maxlbs">
        <button type="button" class="btn btn-success" ng-click="showCreateLbForm()">
          <span class="glyphicon glyphicon-plus"></span> New Linkboard
        </button>
      </div>
      <div ng-hide="user.leaderboards.length < maxlbs">
        <p>Sorry, you can't have more than {{ maxlbs }}... #firstworldproblems</p>
      </div>
    </div>
  </div>

</div>


<div ng-show="mostrecent.length">

<hr>

<h3>Recently Published</h3>

<div class="row">

  <div class="col-sm-6"
    ng-repeat="r in mostrecent">

    <blockquote>
      <a ng-href="#/pub/{{ r.publish_key }}">
        {{ r.name }} <i class="glyphicon glyphicon-chevron-right"></i>
      </a>

      <a href="http://twitter.com/{{ r.user_name }}">
        <img
          width="48" height="48"
          ng-show="r.user_photos.length"
          ng-src="{{ r.user_photos[0].value }}" alt="">
        {{ r.user_name }}
      </a>
    </blockquote>

  </div>

</div>

</div>


<!-- modals -->

<div id="create-lb-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New things shiny!</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-6">
            <form role="form">

              <div
                class="form-group has-feedback"
                ng-class="{'has-success': validName()}">

                <label for="input-lbname" class="control-label">Create a LinkBoard named:</label>
                <input type="text" class="form-control" id="input-lbname"
                  ng-model="newlb.rawname"
                  ng-change="parseRawName()"
                  placeholder="airport photos">
                <span ng-show="validName()" class="glyphicon glyphicon-ok form-control-feedback"></span>
              </div>

              <div
                class="form-group has-feedback"
                ng-class="{'has-success': validKeywords()}">

                <label for="input-lbkeywords" class="control-label">Tracking these terms:</label>
                <input type="text" class="form-control" id="input-lbkeywords"
                  ng-model="newlb.rawkeywords"
                  ng-change="parseRawKeywords()"
                  placeholder="#BUE, #CHI, #LON, #MIL, #TYO">
                <span ng-show="validKeywords()" class="glyphicon glyphicon-ok form-control-feedback"></span>
              </div>

              <div
                class="form-group has-feedback"
                ng-class="{'has-success': validDomains()}">

                <label for="input-lbdomains" class="control-label">And count links to these domains:</label>
                <input type="text" class="form-control" id="input-lbdomains"
                  ng-model="newlb.rawdomains"
                  ng-change="parseRawDomains()"
                  placeholder="instagram, smugmug, photobucket">
                <span ng-show="validDomains()" class="glyphicon glyphicon-ok form-control-feedback"></span>
              </div>

            </form>
          </div>
          <div class="col-sm-6">
            <h3 class="text-muted">linkboard named</h3>
            <h4 ng-hide="newlb.name.length">...</h4>
            <h4>{{ newlb.name }}</h4>
            <p>will listen for tweets containing</p>
            <p ng-hide="newlb.topics.length">...</p>
            <p ng-show="newlb.topics.length > 8">too many terms :(</p>
            <span class="badge"
              ng-hide="newlb.topics.length > 8"
              ng-repeat="t in newlb.topics">{{ t }}</span>
            <p>and rank links matching</p>
            <p ng-hide="newlb.domains.length">...</p>
            <p ng-show="newlb.domains.length > 8">too many domain filters :(</p>
            <span class="badge"
              ng-hide="newlb.domains.length > 8"
              ng-repeat="d in newlb.domains">{{ d }}</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div ng-hide="creatingLb">
          <button type="button" class="btn btn-default" data-dismiss="modal">Nah, maybe later</button>
          <button href class="btn btn-success"
            ng-class="{disabled: !formValid()}"
            ng-click="createLb()">
            <span class="glyphicon glyphicon-ok"></span> Make It So!
          </button>
        </div>
        <div ng-show="creatingLb">
          <p class="text-muted">creating your linkboard...</p>
        </div>
      </div>
    </div>
  </div>
</div>
