<h1 ng-show="loading">Loading...</h1>

<div ng-hide="loading">

  <h3>{{ lbdetails.lb.name }}</h3>
  <h4 class="pull-right">
    <span class="text-muted">created by</span>

    <a href="http://twitter.com/{{ lbdetails.lb.user_name }}">{{ lbdetails.lb.user_name }}
        <img
          height="48" width="48"
          ng-show="lbdetails.lb.user_photos.length"
          ng-src="{{ lbdetails.lb.user_photos[0].value }}" alt=""></a>
  </h4>

  <h4 class="text-muted">{{ lbdetails.lb.topics }}</h4>

  <ul class="nav nav-tabs" role="tablist">
    <li ng-class="{active: 'lasthour' == activetab }">
      <a href ng-click="activetab = 'lasthour'">Last Hour</a>
    </li>
    <li ng-class="{active: 'lastday' == activetab }">
      <a href ng-click="activetab = 'lastday'">Last Day</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane"
      ng-repeat="tab in tabs"
      ng-class="{active: tab.name == activetab }">

      <div class="alert alert-info" role="alert"
        ng-hide="lbdetails.rankings[tab.timewindow].length">
        <h1>{{ empty_animation_state }}</h1>
        <p>Nothing to see yet, still counting tweets.</p>
      </div>

      <ul class="list-unstyled ranked-items">
        <li class="ranked-item" ng-repeat="item in lbdetails.rankings[tab.timewindow]">

          <div class="ranked-item-stats">
            <span class="ranked-item-sharecount">{{ item.sharecount }}</span>
            <a class="ranked-item-comments" href ng-click="showTweets(item)"><i class="glyphicon glyphicon-comment"></i></a>
          </div>

          <div class="ranked-item-link">
            <a target="_new" href="{{ item._id }}">{{ prettyUrl(item._id) }}</a>
          </div>

        </li>
      </ul>

    </div>
  </div>

</div>

